body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
.header-top {
  height: 80px;
  line-height: 80px;
}

ul.navbar-menu li,
ul.navbar-language li {
  display: inline-block;
  padding-right: 10px;
}

/* 1rem equivale al font specificato nel body,
nel nostro caso 1rem 16px
quindi ad esempio 1.2rem sarà uguale a 16 * 1.2 pixel */
ul.navbar-menu li a,
ul.navbar-language li a {
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.header-top .logo {
  vertical-align: middle;
}

ul.navbar-language :not(li:last-child) a {
  border-right: 2px solid black;
  padding-right: 10px;
}

/* jumbo */
.jumbo {
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.jumbo h1 {
  font-size: 32px;
}

.jumbo p {
  margin: 10px 0;
}

.jumbo .testo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}

.scooter {
  height: 300px;

}
.border{
border: 2px solid white;
background-color: lightgrey;
}

#prodotti {
  background-color: white;
  text-align: center;
  line-height: 56px;
padding: 100px;
}

.text{
background-color: white;

}

#jumbotron{
  background-image: url('../img/index-banner.1f6fd0a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;

}

#mobility{
  background-image: url('../img/scooter.f0a0397.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-top: 50px;
  padding: 50px;
  text-align: center;
  color:white;
  line-height: 46px;



}

.smart{
  font-size: 40px;
text-transform:full-width;
text-align: center;
color:white;

}

#app {
  height: 800px;
  /* background-color: yellow; */
  /* border: 2px solid black; */

}

.bord{
/* border: 2px solid lightgrey; */
background-color: #3E5266;
}

.map{
  height: 585px;
  padding-top: 83px;
  margin-left: 31px;
  margin-bottom: -5px;
}

#app .row ul {
  color:white;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  padding-top: 30px;
}


.white-house{
  background-image: url('../img/city.7c8c928.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 746px;
  position: relative;



}
.cities{
  padding-top: 2px;
    color: white;
    font-size: 51px;
    text-align: center;
    font-weight: bold;

}








@media screen and (max-width: 992px) {
  .jumbo h1 {
    font-size: 26px;
  }

  #prodotti {

      text-align: center;
      line-height: 56px;
    padding: 100px;
    margin-left: 100px;
    }

    .scooter{
      height: 200px;
    }
    /* finished first part */

    #app {
      height: 500px;
      /* background-color: yellow; */
      /* border: 2px solid black; */

    }
      .map{
        height: 400px;
        width:200px;
        padding-top: 83px;
        margin-left: 31px;
        margin-bottom: -5px;
      }

      .white-house{
        background-image: url('../img/city.7c8c928.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 594px;
        width:321px;
        margin-left: 92px;



      }


    }
